.container {
    height: 248.69px;
    background-color: #0A3A5B;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.container1 {
    height: 333.6px;
    background-color: #0A3A5B;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.container2 {
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
  margin: 10px;
  padding: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

.button {
    background-color: #0A3A5B;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
    font-family: "Avenir Next Demi Bold";
    font-weight: 500;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 1.1rem;
    background: transparent;
}

.button1 {font-size: 17.6px;
          padding: 28.16px 47.0272px;
}

.button1:hover {
    background-color: white;
    color: #0A3A5B;
}

.button2 {
    background-color: white;
    width: 128.7px;
    height: 68.8px;
    font-size: 16px;
    padding: 22.4px 32px;
    color: #0A3A5B;
    border-radius: 0.4rem;
    border-width: 2px;
    border-color: #0A3A5B;
}

.button2:hover {
    background-color: #0A3A5B;
    color: white;
}

input[type=text], select {
    color: rgba(0,0,0,.12);
    display: flex;
    justify-content: space-between;
    margin: 6px;
    font-size: 19.2px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    position: relative;
    left: -383px;
    width: 284.4px;
    padding: 1.4rem 2rem;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.12);
    box-sizing: border-box;
    letter-spacing: normal;
    text-align: start;
}

span {
    text-decoration: underline;
    text-decoration-color: #0A3A5B;
}

h1, h2 {
    margin: 2rem 0;
    font-family: Libre Baskerville;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

p {
    display: block;
    margin: 1rem 0;
}